{% extends "IglesiaBundle::adminBase.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("bundles/iglesia/css/iglesias.css") }}">
{% endblock %}

{%  block body %}
    {{ parent() }}
    <div id="titulo"><h2>Autores Registrados</h2></div>
    <div id="container">
        <ul>
            {% for autores in autor %}
                <li class="ili"><a  class="ilinks" href="{{ path ('espec_autor', {'id': autores.id}) }}">{{ autores.nombre }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}