{% extends "IglesiaBundle::adminBase.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("bundles/iglesia/css/iglesias.css") }}">
{% endblock %}

{%  block body %}
    {{ parent() }}
    <div id="titulo"><h2>Iglesias Registradas</h2></div>
    <div id="container">
        <ul>
            {% for iglesias in iglesia %}
                <li class="ili"><a  class="ilinks" href="{{ path ('espec_iglesia', {'id': iglesias.id}) }}">{{ iglesias.nombre }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}